on:
  workflow_dispatch:
  pull_request:
name: "Build"
jobs:
  build:
    name: Build site and generate HTML
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build Mathlib Manual
        uses: leanprover/lean-action@v1
        with:
          build-args: "MathlibManual"

